In [ ]:
# Import Packages
import pandas as pd
import numpy as np

:

In [60]:
# Import Data
data = pd.read_csv("data/online_retail_II.csv")

In [ ]:
# Change datatype to dataframe for Data
data["InvoiceDate"] = pd.to_datetime(data["InvoiceDate"])
# Drop null Customers ID
data = data.dropna(subset=['Customer ID'])
# Returns
data['IsReturn'] = data['Invoice'].astype(str).str.startswith('C')
# Separate value for Purchase and Return Amount
data['PurchaseAmount'] = np.where(data['IsReturn'] == False, data['Quantity'] * data['Price'], 0)
data['ReturnAmount']   = np.where(data['IsReturn'] == True,  (data['Quantity'] * data['Price']).abs(), 0)

Czy kolumna TotalPrice istnieje? True
Sukces! Tabela klient√≥w stworzona.

             Recency  Frequency  Monetary
Customer ID
12346.0          326         17    -64.68
12347.0            2          8   5633.32
12348.0           75          5   2019.40
12349.0           19          5   4404.54
12350.0          310          1    334.40